@model OtherPostActivitiesPostVM
@{
    ViewData["Title"] = "Approve post";

}

<h1 class="text-success text-center m-4">Are you sure you want to <span><strong>Approve</strong></span> this <span><strong>post?</strong></span></h1>
<div class="container m-auto">
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostCreatorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostCreatorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDetails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostCategories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostCategories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
    </dl>

    <form asp-controller="Admin" asp-action="Approved">
        <input type="hidden" asp-for="PostId" />
        @{
            if (Model.ApprovalState == true)
            {
                <input type="submit" value="DisApprove" class="btn btn-danger" id="btn_delete" />

            }
            else
            {
                <input type="submit" value="Approve" class="btn btn-success" id="btn_delete" />
            }

        }
    </form>
</div>