@model List<BLOGIT.Models.UserServicesViewModels.AddRemoveUserFromRoleViewModel>

@{
    var roleId = ViewBag.RoleId;
}

<form method="post">
    <div class="container">
        <div class="row">
            <div class=" col-md-6 m-auto">
                <div class="card-header">
                    <h4>Add or Remove Users in this Role</h4>
                </div>
                <div class="card-body">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model[i].Username"/>
                            <input type="hidden" asp-for="@Model[i].UserId"/>
                            <input asp-for="@Model[i].IsChecked" class="form-check-input"/>
                            <label asp-for="@Model[i].IsChecked" class="form-check-label">
                                @Model[i].Username
                            </label>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">Update</button>
                    <a asp-action="EditUserRole" asp-route-id="@roleId" class="btn btn-dark">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>